@switch (currentBreakpoint()) { @case ('DESKTOP') {
<div class="w-full h-5rem centered-container shadow-2 flex">
  <div class="flex-center">
    <app-logo />
  </div>

  <div class="w-full flex gap-5 align-items-center px-5">
    <app-link
      label="Pessoa Física"
      [overlay]="true"
      (mouseenter)="openOverlay(link1)"
      #link1
    >
      <div class="flex flex-column gap-3 p-2">
        <app-link label="Como enviar" />
        <app-link label="Como receber" />
        <app-link label="App" />
      </div>
    </app-link>

    <app-link
      label="Pessoa Jurídica"
      [overlay]="true"
      (mouseenter)="openOverlay(link2)"
      #link2
    >
      <div class="flex flex-column gap-3 p-2">
        <app-link label="Conheça a solução PJ" />
        <app-link label="Gerador de Invoice" />
        <app-link label="Soluções para Startups" />
        <app-link label="Serviços Paralegais" />
        <app-link label="Remessa Pay" />
        <app-link label="Importação e exportação" />
      </div>
    </app-link>

    <app-link
      label="Cotações"
      [overlay]="true"
      (mouseenter)="openOverlay(link3)"
      #link3
    >
      <div class="flex flex-column gap-3 p-2">
        <div class="flex justify-content-start gap-2">
          <img
            width="28px"
            height="28px"
            src="../../../../assets/images/countries-currency/usd.svg"
            alt=""
          />
          <app-link label="USD Dólar americano" />
        </div>

        <div class="flex justify-content-start gap-2">
          <img
            width="28px"
            height="28px"
            src="../../../../assets/images/countries-currency/brl.svg"
            alt=""
          />
          <app-link label="BRL Real brasileiro" />
        </div>
        <div class="flex justify-content-start gap-2">
          <img
            width="28px"
            height="28px"
            src="../../../../assets/images/countries-currency/ars.svg"
            alt=""
          />
          <app-link label="ARS Peso argentino" />
        </div>
        <div class="flex justify-content-start gap-2">
          <img
            width="28px"
            height="28px"
            src="../../../../assets/images/countries-currency/aud.svg"
            alt=""
          />
          <app-link label="AUD Dólar australiano" />
        </div>
        <div class="flex justify-content-start gap-2">
          <img
            width="28px"
            height="28px"
            src="../../../../assets/images/countries-currency/cad.svg"
            alt=""
          />
          <app-link label="CAD Dólar canadense" />
        </div>
      </div>
    </app-link>

    <app-link
      label="Ajuda"
      [overlay]="true"
      (mouseenter)="openOverlay(link4)"
      #link4
    >
      <div class="flex flex-column gap-3 p-2">
        <app-link label="Central de ajuda" />
        <app-link label="Códigos SWIFT/BIC" />
      </div>
    </app-link>

    <app-link
      label="Parcerias e APIs"
      [overlay]="true"
      (mouseenter)="openOverlay(link5)"
      #link5
    >
      <div class="flex flex-column gap-3 p-2">
        <app-link label="Seja um parceiro" />
        <app-link label="Use nossas APIs" />
      </div>
    </app-link>

    <app-link label="Blog" (mouseenter)="closeOpennedOverlays()" />
  </div>

  <div class="flex-center gap-3">
    <app-button [rounded]="true" [outlined]="true" label="Entrar" />
    <app-button [rounded]="true" label="Cadastrar" />
  </div>
</div>
} @default {
<div
  class="w-full h-5rem centered-container shadow-2 flex align-items-center justify-content-between"
>
  <app-logo />
  <div class="flex-center gap-3">
    @if (currentBreakpoint() == 'TABLET') {<app-button
      [rounded]="true"
      [outlined]="true"
      label="Entrar"
    />
    <app-button [rounded]="true" label="Cadastrar" />
    }

    <div>
      <i
        (click)="sidebarVisible = true"
        class="pi pi-align-justify font-bold text-3xl text-primary"
      ></i>
    </div>
  </div>
</div>

<p-sidebar [(visible)]="sidebarVisible" [fullScreen]="true">
  <ng-template pTemplate="closeicon"
    ><i class="pi pi-times font-bold text-3xl text-primary"></i
  ></ng-template>

  <div class="w-full flex flex-column gap-5 px-5 h-full">
    <app-link
      label="Pessoa Física"
      [overlay]="true"
      (mouseenter)="openOverlay(link1)"
      #link1
    >
      <div class="flex flex-column gap-3 p-2">
        <app-link label="Como enviar" />
        <app-link label="Como receber" />
        <app-link label="App" />
      </div>
    </app-link>

    <app-link
      label="Pessoa Jurídica"
      [overlay]="true"
      (mouseenter)="openOverlay(link2)"
      #link2
    >
      <div class="flex flex-column gap-3 p-2">
        <app-link label="Conheça a solução PJ" />
        <app-link label="Gerador de Invoice" />
        <app-link label="Soluções para Startups" />
        <app-link label="Serviços Paralegais" />
        <app-link label="Remessa Pay" />
        <app-link label="Importação e exportação" />
      </div>
    </app-link>

    <app-link
      label="Cotações"
      [overlay]="true"
      (mouseenter)="openOverlay(link3)"
      #link3
    >
      <div class="flex flex-column gap-3 p-2">
        <div class="flex justify-content-start gap-2">
          <img
            width="28px"
            height="28px"
            src="../../../../assets/images/countries-currency/usd.svg"
            alt=""
          />
          <app-link label="USD Dólar americano" />
        </div>

        <div class="flex justify-content-start gap-2">
          <img
            width="28px"
            height="28px"
            src="../../../../assets/images/countries-currency/eur.svg"
            alt=""
          />
          <app-link label="EUR Euro" />
        </div>
        <div class="flex justify-content-start gap-2">
          <img
            width="28px"
            height="28px"
            src="../../../../assets/images/countries-currency/gbp.svg"
            alt=""
          />
          <app-link label="GBP Libra esterlina" />
        </div>
        <div class="flex justify-content-start gap-2">
          <img
            width="28px"
            height="28px"
            src="../../../../assets/images/countries-currency/aud.svg"
            alt=""
          />
          <app-link label="AUD Dólar australiano" />
        </div>
        <div class="flex justify-content-start gap-2">
          <img
            width="28px"
            height="28px"
            src="../../../../assets/images/countries-currency/cad.svg"
            alt=""
          />
          <app-link label="CAD Dólar canadense" />
        </div>
      </div>
    </app-link>

    <app-link
      label="Ajuda"
      [overlay]="true"
      (mouseenter)="openOverlay(link4)"
      #link4
    >
      <div class="flex flex-column gap-3 p-2">
        <app-link label="Central de ajuda" />
        <app-link label="Códigos SWIFT/BIC" />
      </div>
    </app-link>

    <app-link
      label="Parcerias e APIs"
      [overlay]="true"
      (mouseenter)="openOverlay(link5)"
      #link5
    >
      <div class="flex flex-column gap-3 p-2">
        <app-link label="Seja um parceiro" />
        <app-link label="Use nossas APIs" />
      </div>
    </app-link>

    <app-link label="Blog" (mouseenter)="closeOpennedOverlays()" />

    @if (currentBreakpoint() == 'MOBILE') {
    <div class="flex flex-column gap-2 h-full justify-content-end">
      <app-button styleClass="w-full" [rounded]="true" [outlined]="true"
        >Entrar</app-button
      >
      <app-button styleClass="w-full" [rounded]="true">Cadastrar</app-button>
    </div>

    }
  </div>
</p-sidebar>

} }
