<div class="centered-container py-8">
  <p-tabView
    [style]="{ maxWidth: currentBreakpoint() == 'DESKTOP' ? '50%' : '100%',   }"
  >
    <p-tabPanel header="Como enviar">
      <div
        class="flex flex-column gap-3 align-items-center justify-content-center fadeinleft animation-duration-500"
      >
        @for (data of howSendData(); track $index) {
        <div
          class="w-full flex flex-column gap-2 text-justify hover:shadow-1 py-3 border-round-sm p-3 surface-border surface-50"
        >
          <h1
            class="font-bold"
            [ngClass]="
              currentBreakpoint() == 'DESKTOP'
                ? 'text-xl  line-height-3'
                : 'text-base  line-height-2'
            "
          >
            <span class="text-primary">{{ data.id }}.</span> {{ data.title }}
          </h1>
          <p
            class="text-color-secondary font-normal text-justify"
            [ngClass]="
              currentBreakpoint() == 'DESKTOP'
                ? 'text-base  line-height-3'
                : 'text-sm  line-height-2'
            "
          >
            {{ data.content }}
          </p>
        </div>

        }

        <div class="flex w-full justify-content-start">
          <app-button
            label="Veja o passo a passo de envio"
            [outlined]="true"
            [rounded]="true"
          />
        </div>
      </div>
      <p-divider />
    </p-tabPanel>

    <p-tabPanel header="Como receber">
      <div
        class="flex flex-column gap-3 align-items-center justify-content-center fadeinleft animation-duration-500"
      >
        @for (data of howRecieveData(); track $index) {
        <div
          class="w-full flex flex-column gap-2 text-justify hover:shadow-1 py-3 border-round-sm p-3 surface-border surface-50"
        >
          <h1
            class="font-bold"
            [ngClass]="
              currentBreakpoint() == 'DESKTOP'
                ? 'text-xl  line-height-3'
                : 'text-base  line-height-2'
            "
          >
            <span class="text-primary">{{ data.id }}.</span> {{ data.title }}
          </h1>
          <p
            class="text-color-secondary font-normal text-justify"
            [ngClass]="
              currentBreakpoint() == 'DESKTOP'
                ? 'text-base  line-height-3'
                : 'text-sm  line-height-2'
            "
          >
            {{ data.content }}
          </p>
        </div>

        }

        <div class="flex w-full justify-content-start">
          <app-button
            label="Veja o passo a passo do recebimento"
            [outlined]="true"
            [rounded]="true"
          />
        </div>
      </div>
      <p-divider />
    </p-tabPanel>
  </p-tabView>
</div>
