<div
  class="flex align-items-center gap-1 cursor-pointer"
  (mouseenter)="overlay && overlayPanel.show($event)"
>
  <a
    [routerLink]="routerLink"
    class="text-base text-color-secondary font-semibold no-underline hover:underline hover:text-primary"
    >{{ label }}
  </a>
  @if(overlay) {
  <i class="pi pi-chevron-down text-blue-600"></i>
  }
</div>

<p-overlayPanel #overlayPanel>
  <div (mouseleave)="overlayPanel.hide()">
    <ng-content></ng-content>
  </div>
</p-overlayPanel>














