<div class="centered-container bg-white">
  <div
    class="flex-center flex-column gap-3"
    [ngClass]="currentBreakpoint() == 'DESKTOP' ? 'py-7' : 'py-3'"
  >
    <h1
      class="font-bold"
      [ngClass]="
        currentBreakpoint() == 'DESKTOP' ? 'text-4xl' : 'text-3xl text-center'
      "
    >
      Mais benefícios para você enviar ou receber dinheiro
    </h1>

    <div
      class="flex gap-3"
      [ngClass]="currentBreakpoint() == 'MOBILE' ? 'flex-column' : ''"
    >
      @for(card of cards; track $index) {
      <div
        class="h-auto border-round-2xl m-3 surface-50 p-4 flex flex-column gap-3"
      >
        <i
          class="text-primary font-semibold"
          [class]="card.icon"
          [ngClass]="currentBreakpoint() == 'DESKTOP' ? 'text-2xl' : 'text-xl'"
        ></i>
        <h1
          class="font-semibold"
          [ngClass]="{
            'text-xl line-height-3': currentBreakpoint() == 'DESKTOP',
            'text-sm line-height-2': currentBreakpoint() == 'TABLET',
            'text-base line-height-2': currentBreakpoint() == 'MOBILE'
          }"
        >
          {{ card.title }}
        </h1>
        <p
          class="text-color-secondary font-medium"
          [ngClass]="{
            'text-base line-height-3': currentBreakpoint() == 'DESKTOP',
            'text-sm line-height-2': currentBreakpoint() != 'DESKTOP',
          }"
        >
          {{ card.content }}
        </p>
      </div>
      }
    </div>
  </div>
</div>
