<div class="centered-container pt-7 pb-3 bg-primary">
  <div class="grid">
    <div class="col-12 md:col-6">
      <div class="flex flex-column gap-3">
        <p class="text-base font-italic font-light">
          999 Locust View Drive San Francisco California 99999-999
        </p>
        <p class="text-base font-italic font-light">
          Logo Ltda | CNPJ: 99.999.999/9999-99
        </p>
      </div>
    </div>
    <div class="col-12 md:col-2">
      <div class="flex flex-column gap-3">
        <p class="text-sm font-medium hover:underline cursor-pointer">Início</p>
        <p class="text-sm font-medium hover:underline cursor-pointer">
          Conheça a solução PJ
        </p>
        <p class="text-sm font-medium hover:underline cursor-pointer">
          Sobre nós
        </p>
        <p class="text-sm font-medium hover:underline cursor-pointer">
          Central de Ajuda
        </p>
      </div>
    </div>
    <div class="col-12 md:col-2">
      <div class="flex flex-column gap-3">
        <p class="text-sm font-medium hover:underline cursor-pointer">Blog</p>
        <p class="text-sm font-medium hover:underline cursor-pointer">
          Trabalhe Conosco
        </p>
        <p class="text-sm font-medium hover:underline cursor-pointer">
          Cotações
        </p>
      </div>
    </div>
    <div class="col-12 md:col-2">
      <div class="flex flex-column gap-3">
        <p class="text-sm font-medium hover:underline cursor-pointer">
          Seja um afiliado
        </p>
        <p class="text-sm font-medium hover:underline cursor-pointer">
          Este site é seguro?
        </p>
      </div>
    </div>
  </div>

  <p-divider></p-divider>

  <div class="grid mt-5">
    <div class="col-12 md:col-6">
      <p class="text-sm font-medium hover:underline cursor-pointer">
        Política de Privacidade
      </p>
    </div>
    <div class="col-12 md:col-2">
      <p class="text-sm font-medium hover:underline cursor-pointer">
        email&#64;email.com
      </p>
    </div>
    <div class="col-12 md:col-2">
      <p class="text-sm font-medium hover:underline cursor-pointer">
        Termos de Uso
      </p>
    </div>
    <div class="col-12 md:col-2">
      <p class="text-sm font-medium hover:underline cursor-pointer">
        Copyright &copy;{{ currentYear() }}, Todos os direitos reservados.
      </p>
    </div>
  </div>
</div>
