@switch (currentBreakpoint()) { @case ('DESKTOP') {
<div class="w-full h-5rem centered-container shadow-2 flex">
  <div class="flex-center">
    <app-logo />
  </div>

  <div class="w-full flex gap-5 align-items-center px-5">
    <ng-template [ngTemplateOutlet]="navbar" />
  </div>

  <div class="flex-center gap-3">
    <ng-template [ngTemplateOutlet]="buttons" />
  </div>
</div>
} @default {
<div
  class="w-full h-5rem centered-container shadow-2 flex align-items-center justify-content-between"
>
  <app-logo />
  <div class="flex-center gap-3">
    @if (currentBreakpoint() == 'TABLET') {
    <ng-template [ngTemplateOutlet]="buttons" />
    }

    <div>
      <i
        (click)="sidebarVisible = true"
        class="pi pi-align-justify font-bold text-3xl text-primary"
      ></i>
    </div>
  </div>
</div>

<p-sidebar [(visible)]="sidebarVisible" [fullScreen]="true">
  <ng-template pTemplate="closeicon"
    ><i class="pi pi-times font-bold text-3xl text-primary"></i
  ></ng-template>

  <div class="w-full flex flex-column gap-5 px-5">
    <div class="w-full h-full flex flex-column gap-5 align-items-center px-5">
      <ng-template [ngTemplateOutlet]="navbar" />
    </div>

    @if (currentBreakpoint() == 'MOBILE') {
    <div class="flex flex-column gap-2 h-full justify-content-end">
      <ng-template [ngTemplateOutlet]="buttons" />
    </div>
    }
  </div>
</p-sidebar>
} }

<ng-template #navbar>
  @for(linkData of linkData(); track $index) {
  <app-link
    #linkRef
    [label]="linkData.title"
    [overlay]="!$last"
    (mouseenter)="openOverlay(linkRef)"
  >
    <div class="flex flex-column gap-3 p-2">
      @for(link of linkData.children; track $index) { @if(link.src) {
      <div class="flex justify-content-start align-items-center gap-2">
        <app-img [src]="link.src!" />
        <app-link [label]="link.label" />
      </div>
      } @else {
      <app-link [label]="link.label" />
      } }
    </div>
  </app-link>
  }
</ng-template>

<ng-template #buttons>
  <app-button [rounded]="true" styleClass="w-full" [outlined]="true"
    >Entrar</app-button
  >
  <app-button [rounded]="true" styleClass="w-full">Cadastrar</app-button>
</ng-template>
