<div class="centered-container bg-white">
  <div class="flex-center flex-column gap-3 py-7">
    <h1 class="text-4xl font-bold">
      Mais benefícios para você enviar ou receber dinheiro
    </h1>

    <div class="flex gap-3">
      @for(card of cards; track $index) {
      <div
        class="h-15rem border-round-2xl m-3 surface-50 p-4 flex flex-column gap-3"
      >
        <i [class]="card.icon + ' text-primary font-semibold text-2xl'"></i>
        <h1 class="text-xl font-semibold line-height-3">
          {{ card.title }}
        </h1>
        <p class="text-base text-color-secondary font-medium line-height-3">
          {{ card.content }}
        </p>
      </div>
      }
    </div>
  </div>
</div>
